@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

@layer utilities {
  .text-woodsmoke {
    color: #0D0E12;
  }
}

@layer components {
  
  /* Dropdown container */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown button styling */
  .dropdown-button {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  /* Icon inside button */
  .dropdown-icon {
    margin-left: 8px;
    font-size: 14px;
  }

  /* Hover effect for the button */
  .dropdown-button:hover {
    background-color: #f0f0f0;
  }

  /* Dropdown menu styling */
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  /* Dropdown item styling */
  .dropdown-item {
    padding: 10px 20px;
    font-size: 14px;
    color: #333333;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  /* Hover effect for menu items */
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }

  /* Checkbox inside dropdown items */
  .dropdown-checkbox {
    margin-right: 8px;
  }

  .expertise-container{
    display: block;
  }

  .btn-ghost-VWM{
    @apply flex-shrink
    mx-6 text-smalt-blue-900
    font-sans font-normal text-sm
    whitespace-nowrap
    text-center md:text-left
    hover:font-semibold
    hover:text-woodsmoke
    transition-duration: 1s
    ease-in-out;
  }

  .btn-filter-inactive-VWM {
    @apply text-smalt-blue-600
    font-extralight
    text-xs font-sans
    py-2 px-3
    rounded-full border-2 border-solid
    border-smalt-blue-300
    whitespace-nowrap inline-block
    hover:border-smalt-blue-200
    hover:text-smalt-blue-400
    transition-duration: 0.5s
    ease-in-out
    ;
  }

  .btn-filter-active-VWM {
    @apply text-woodsmoke font-normal text-xs font-sans py-2 px-3 rounded-full border-2 border-solid border-vermillion-500 whitespace-nowrap inline-block;
  }

  .btn-primary-VWM {
    @apply bg-vermillion-800 text-white py-2 px-4 rounded hover:bg-vermillion-300;
  }
  
  .btn-secondary-VWM {
    @apply text-smalt-blue-950 font-sans text-sm font-normal px-4 border-2 border-solid rounded;
  }

  .expertise{
    @apply font-normal font-serif text-[1.5rem] mb-4 text-center sm:text-left text-woodsmoke;
  }
  
  .expertise-detail{
    @apply font-extralight font-sans text-[0.9375rem] text-center sm:text-left text-woodsmoke;
  }

  .card-title{
    @apply text-[0.9375rem] font-sans font-normal text-woodsmoke text-center;
  }

  .card-description{
    @apply text-[0.9375rem] font-serif font-normal text-smalt-blue-900 text-center italic;
  }


}
