  <nav class="w-full max-w-[1536px] py-4 px-8 lg:px-24 lg:py-6 md:px-10 md:py-4">
    <div class="flex justify-between items-center">
      <div>
        <picture class="block w-full">
          <source media="(min-width: 640px)" srcset="src/img/default-horizontal.png">
          <img src="src/img/default.png" alt="Description of image" class="w-[110px] sm:w-[200px] h-auto object-cover">
        </picture>
      </div>
      <div>
        <button class="block">
          <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-width="1" d="M5 7h14M5 12h14M5 17h14"/>
          </svg> 
        </button>     
      </div>
    </div>
  </nav>